* {
    box-sizing: border-box;
}
body {
    margin: 0px;
    font-family: sans-serif;
}

.single-column {
    width: 90vw;
    max-width: 1200px;
    margin: 0px auto;
}

.card-container {
    display: flex;
    gap: 36px;
    flex-wrap: wrap;
}

.card {
    border: 5px solid #d760ff;
    padding: 36px;
    text-align: center;
    margin: 36px 0px;
    flex: 1;
}

.card h3 {
    font-size: 36px;
    margin: 0px;
}

.card p {
    font-size: 24px;
    margin: 24px 0px 0px;
}

.sbs {
    display: flex;
}