* {
    box-sizing: border-box;
}
body {
    margin: 0px;
    font-family: sans-serif;
}
img {
    width: 100%;
    object-fit: cover;
}

.layout {
    display: flex;
    width: 80vw;
    max-width: 1280px;
    margin: 0% auto;
    gap: 50px;
}

#featured-image-column {
    width: 250px;
    order: 2;
}

#product-info-column {
    flex: 1;
    order: 1;
    text-decoration: dotted;
}

#thumbnail-column {
    flex: 3;
    order: 3;
}

.section  {
    background-color: rgb(20, 114, 255);
    color: white;
    padding: 5px 40px;
    border-radius: 5px 20px;
    font-size: 25px;
    font-weight: bold;
}

