/*
    NOTE TO STUDENTS: 

    This is the file you should be writing your CSS in 
    for the Bulletin Board assignment.

    Good luck, and have fun!
*/
.post1-it1 {
    display: inline-block;
    width: 150px;
    background-color: #dfffff;
    margin: 24px;
    padding: 24px;
    vertical-align: middle;
}
.post2-it2 {
    display: inline-table;
    width: 100px;
    background-color: #ff8a8a;
    font-family: sans-serif;
    margin: 10px;
    padding: 15px;
    vertical-align: top;
}
.post3-it3 {
     display: inline-table;
    height: 90x;
    background-color: #87ffff;
    font-family: sans-serif;
    margin: 10px;
    padding: 15px;
    vertical-align: top;
}
.post4-it4 {
    display: inline-block;
    width: 150px;
    background-color: #dfffff;
    font-family: sans-serif;
    margin: 24px;
    padding: 24px;
    vertical-align: middle;
}
.post5-it5 {
    display: inline-block;
    width: 150px;
    background-color: #dfffff;
    margin: 24px;
    padding: 24px;
    vertical-align: middle;
}
.post6-it6 {
    display: inline-block;
    width: 150px;
    background-color: #dfffff;
    margin: 24px;
    padding: 24px;
    vertical-align: top;
}