#navbar {
    text-align: center;
    padding: 24px;
    background-color: #007d7d;
}
#navbar a {
    color: white;
}

#navbar a.warning {
    color: orange;
}
p a {
    color: teal;
}
p.warning {
    background-color: #06bdff;
}
p.warning {
    color: white;
}

ul {
    color: green;
}
ul a {
    color: lawngreen;
}
ul p a {
    color: blue;
}
ul div a {
    color: #007d7d;
}