.sbs {
    margin-bottom: 50px;
    display: flex;
    align-items: center;
}

.sbs .img,
.sbs.content {
    flex: 1;
}

.sbs img {
    width: 90%;
}

.sbs h2 {
    font-size: 16px;
    margin: 0px;
}

.sbs p {
    margin-top: 16px;
    font-size: 20px;
}

.simple {
    border-radius: 5px;
    background-color: #000000;
    padding: 10px 20px;
    color: white;
}

.card {
    display: flex;
    gap: 36px;
    flex-wrap: wrap;
}

.card {
    padding: 36px;
    text-align: center;
    margin: 36px 0px;
    flex: 1;
}

.card {
    font-size: 36px;
    margin: 0px;
}

.card {
    font-size: 24px;
    margin: 24px 0px 0px;
}