@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Stack+Sans+Notch:wght@200..700&display=swap');

h1 {
    font-family: "Stack Sans Notch", sans-serif;
}

p {
    font-family: "Playfair Display", serif;
}

a {
    font-family: "Bebas Neue", sans-serif;
}