* {
    box-sizing: border-box;
}
body {
    margin: 0px;
    font-family: sans-serif;
}
img {
    width: 100%;
    object-fit: cover;
}

.two-col {
    display: flex;
    width: 80vw;
    max-width: 1280px;
    margin: 0% auto;
    gap: 50px;
}

#sidebar {
    width: 250px;
    order: 2;
}

#main {
    flex: 1;
    order: 1;
}