* {
box-sizing: border-box;
}
body {
margin: 0px;
font-family: sans-serif;
}
img {
width: 100%;
object-fit: cover;
}

#top-lvl {
background: linear-gradient(to bottom, #708286, #bacde9);
display: flex;
justify-content: space-between;
}
#top-lvl a {
text-decoration: none;
color: white;
padding: 24px;
}

#side-hero {
background-image: url("../images/urban-hi-res-2nse.jpg");
background-size: cover;
background-position: center;
height: 100vh;
display: flex;
justify-content: center;
align-items: center;
color: #ffffff;
}

.simple {
border: 1px solid #111;
border-radius: 5px;
background: linear-gradient(to bottom, #708286, #bacde9);
color: white;
padding: 10px 20px;
}

#layout {
width: 90%;
max-width: 900px;
margin: 0px auto;
}

.vertical-masonry-gallery {
columns: 3 auto;
column-gap: 25px;
border: 10px solid #880808;
}

.vertical-masonry-gallery img {
margin-bottom: 25px;
}

.single-column {
width: 90vw;
max-width: 1200px;
margin: 0px auto;
}

.card-container {
display: flex;
gap: 36px;
flex-wrap: wrap;
}

.card {
border: 5px solid #000000;
padding: 36px;
text-align: center;
margin: 36px 0px;
flex: 1;
}

.card h3 {
font-size: 36px;
margin: 0px;
}

.card p {
font-size: 24px;
margin: 24px 0px 0px;
}

@media screen and (max-width: 660px) {
.layout h1 {
font-size: 44px;
}
.gallery {
grid-template-columns: 1fr;
}
}

@media screen and (max-width: 550px) {
nav {
flex-direction: column;
align-items: center;
}
}